body {
  font-family: "Nunito", sans-serif;
}


header, nav, footer {
  padding: 24px;
}

section {
  max-width: 1080px;
  padding: 24px;
  margin: 0 auto;
}


.side-by-side {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 24px;
}

@media screen and (max-width: 720px){
  .side-by-side {
    grid-template-columns: 1fr;
  }
}

.icon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#assignment2_gif {
  margin: 24px 0;
}

